@model Entidades.Entities.Usuario
@if (Session["Login"] != null)
{
    Html.Action("Index", "CargaHoraria"); 
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render(" ~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CargaHoraria", "Index", "CargaHoraria", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse">

                @using (Html.BeginForm("Index", "Usuario", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "font-color-4" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("login", "", new { @class = "form-control", placeholder = "Login/E-mail" })
                    </div>
                    <div class="form-group">
                        @Html.Password("senha", "", new { @class = "form-control", placeholder = "Senha" })
                    </div>
                    <input type="submit" value="Logar" class="btn btn-default" />

                }
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="row">
            <div class="col-lg-7">
                <img src="~/Content/clock.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-lg-5">
                <h2>Cadastro</h2>

                @using (Html.BeginForm("Create", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Usuario</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmarSenha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConfirmarSenha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @Scripts.Render("~/bundles/jqueryval")
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gustavo Laviola Sanches</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>