@model Entidades.Entities.CargaHoraria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CargaHoraria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDeRegisto.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeRegisto.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CargaHorariaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
